body {
	margin: 5px;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
   border-radius:13px;
   background-color:silver;
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/tpl/btn_02.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/tpl/btn_01.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#container{
	width: 960px;
	margin: 0 auto;
	padding: 10 10px;
	background-color: #EFEFEF;
    border-radius:10px;
}


/* menu */

#menu {
	clear: both;
	width: 960px;
	height: 45px;
    background-color:#003;
    border-radius: 5px;
}

#menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #969547;
}

#menu li a:hover, #menu li .current{
	color: #fcf88e;
}

/* end of menu*/

/* header */
#header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
}

#header a,a:hover {
	color: #ffffff;
}

#header #mehdi {
	float: left;
	font-size: 14px;	
	margin-top: 95px;
	margin-left: 490px;
	width: 180px;
}

#mehdi a {
	font-size: 12px;
}

#mehdi  p {
	margin: 0 0 20px 0;
}
#mehdi p span {
	font-size: 18px;
}

#header #new_books {
	float: left;
	margin-top: 90px;	
	margin-left: 55px;
	width: 180px;
}

#new_books ul {
	 margin: 0 0 10px 0;
	 padding: 0 0 0 20px;
}

#new_books li {
	 margin: 0;
	 padding: 0; 
}


/* end of header */


/* content */
#content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#content #content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: #003;
	border: 1px solid #212120;
    border-radius:10px;
}

#content #content_right {
	float: right;
	width: 670px;
}


#content_left .content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.content_left_section ul {
	padding: 0;
	margin: 0;
}

.content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.content_left_section li a:hover, .content_left_section li .current{
	color: #fcf88e;
}





#content_right .product_box {
	float: left;
	width: 303px;
	height: 210px;
	padding: 10px;
	border: 1px solid #333;
}

#content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: url(images/h1_bg.jpg);
}

#content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

#content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

#content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#content_right li {
	padding: 0 0 3px 0;
}

#content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

#content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.product_box h1 span {
	font-weight: normal;
}

.product_box img {
	float: left;
	margin-right: 20px;
}

.product_box .product_info {
	float: left;
	width: 180px;
}

.product_info p {
	margin-bottom: 15px;
}

/* end of content */

/* footer */
#footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top:1px solid #FFF;
	border-radius: 9px;
	color: #999;
	background-color: #003;
}

#footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */

/*-------------------*/
#slider {
    clear: both;
    width: 960px;
    height: 245px;
    background: #000;
    margin-bottom: 40px;
    overflow: hidden;
}

.footer_box{
    width:100px;
    height:100px;
}
input[name=search]{
	border: 1px;
	border-radius: 3px;
	padding: 3px;
	margin:0 10 50 0px;
}
select[name=book_cat]{
	padding: 2px;
	border-radius: 3px;
	margin:0 10 50 0px;
}
input[name=search_btn]{
	padding: 2px;
	border-radius: 3px;
}